
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    input.error {
        border-color: #f00 !important;
    }

    label.error {
        clear: both;
        color: #f00;
        display: block;
        text-align: left;
        margin: unset;
        padding: unset;
        font-size: 13px;
        font-weight: unset !important;
        background: unset;
    }
    .form-group[class*='has-icon-'] .form-control-icon{
        transform: unset !important;
        top: 10% !important;
    }
</style>
<section id="lien-he-voi-chung-toi" class="ftco-section custom-height">
   <div class="parallax-img d-flex align-items-center">
      <div class="container">
         <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 heading-section  fadeInUp d">
               <h2 class="text-center">Đăng nhập</h2>
               <div class="row d-flex justify-content-center mt-5">
                  <div class="col-md-8">
                     <form action="#" method="#" id="form-login">
                        <div class="results" style="display:none">
                            <div class="alert alert-danger text-error-custom">
                                        Tên đăng nhập hoặc mật khẩu không đúng!
                                    </div>
                             </div>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                  <input type="text" name="email_phone" id="email_phone" placeholder="Email/ Số điện thoại" class="form-control" style="border-radius: 5px;"> 
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-group">
                                  <input type="password" name="password" id="password" placeholder="Mật khẩu" class="form-control" style="border-radius: 5px;">
                                  </div>
                           </div>
                        </div>
                        @*<div class="text-center"><a href="/quen-mat-khau" style="color: rgb(0, 123, 255);">Quên mật khẩu?</a></div>*@
                                <button type="submit" class="btn btn-primary btn-block" style="background-color: #0d4e96; border-radius: 5px; border-color: #0d4e96; margin-top: 15px;">
                                    Đăng
                        nhập</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
@section Scripts{
        <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="~/web/appusers/appusers.js?v=@DateTime.Now.Ticks"></script>
    }

