@{
    Layout = null;
}

<div id="NhaModal" tabindex="-1" aria-labelledby="feeModalTitle" class="modal fade" aria-modal="true" role="dialog">
    <div role="document" class="modal-dialog">
        <form id="form-submit" action="#" method="#">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white">Thêm mới nhà</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Tên nhà</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="TenNha" name="TenNha" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Thành phố</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="cities" name="cities" onchange="GetDistrictForCityId(this)">
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Quận/Huyện</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="district" name="district" onchange="GetWardsForDistrictId(this)">
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Phường/Xã</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="wards" name="wards">
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Địa chỉ</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="DiaChi" name="DiaChi" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button type="submit" class="btn btn-primary me-1 mb-1 btn-submit-format">Thêm mới</button></div>
            </div>
        </form>
    </div>
</div>