@using TECH.Areas.Admin.Models
@model UserModelView
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<style>
    .fisrt-image-product {
        width: 77px;
        height: 55px;
        border-radius: 4px;
    }
</style>*@
<style type="text/css">
    input.error {
        border-color: #f00 !important;
    }

    label.error {
        clear: both;
        color: #f00;
        display: block;
        text-align: left;
        margin: unset;
        padding: unset;
        font-size: 13px;
        font-weight: unset !important;
        background: unset;
    }
    .form-group[class*='has-icon-'] .form-control-icon{
        transform: unset !important;
        top: 10% !important;
    }
</style>
<div class="page-heading">
   <div class="page-title">
      <div class="row">
         <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Thay đổi mật khẩu</h3>
         </div>
         <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Thay đổi mật khẩu</li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <section id="multiple-column-form">
      <div class="row match-height">
         <div class="col-12">
            <div class="card">
               <div class="card-content">
                  <div class="card-body">
                     <form action="#" method="#" class="form" id="formUserDetail">
                        <input type="hidden" name="_token" value="@Model.id" id="userId">                                    
                        <div class="results">
                        </div>
                        <div class="row">
                           <div class="col-md-12 col-12">
                              <div class="form-group">
                                 <label for="current_password">Mật khẩu hiện tại</label>
                                 <input type="password" id="current_password" class="form-control" name="current_password" placeholder="********">
                                 <span class="text-danger"></span>
                              </div>
                           </div>
                           <div class="col-md-12 col-12">
                              <div class="form-group">
                                 <label for="new_password">Mật khẩu mới</label>
                                 <input type="password" id="new_password" class="form-control" name="new_password" placeholder="********">
                                 <label id="new_password-error" class="error" for="new_password" style="display: none;"></label>
                                 <span class="text-danger"></span>
                              </div>
                           </div>
                           <div class="col-md-12 col-12">
                              <div class="form-group">
                                 <label for="repeat_password">Nhập lại mật khẩu</label>
                                 <input type="password" class="form-control" name="repeat_password" placeholder="********">
                                 <span class="text-danger"></span>
                              </div>
                           </div>
                           <div class="col-12 d-flex justify-content-end">
                              <button type="submit" class="btn btn-primary me-1 mb-1">Thay đổi</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

@section Scripts{
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#formUserDetail").validate({
                rules:
                {
                    current_password: {
                        required: true,
                    },
                    new_password: {
                        required: true,
                        minlength: 8,
                    },
                    repeat_password:{
                        required: true,
                        equalTo: "#new_password",
                        minlength: 8
                    }

                },
                messages:
                {
                    current_password: {
                        required: "Bạn chưa nhập mật khẩu hiện tại",
                    },
                    new_password: {
                        required: "bạn chưa nhập mật khẩu mới",
                        minlength: "Mật khẩu tối thiểu 8 kí tự",
                    },
                    repeat_password: {
                        required: "Bạn chưa nhập lại mật khẩu.",
                        equalTo: "Mật khẩu không đúng.",
                        minlength: "Mật khẩu ít nhất 8 kí tự"
                    }
                },
                submitHandler: function(form) {


                    var userView = {
                        id: $("#userId").val(),
                        current_password : $("#current_password").val(),
                        new_password:$("#new_password").val(),
                    };

                    if (userView.current_password == userView.new_password) {
                        $("#new_password-error").show().text("Mật khẩu mới không được trùng với mật khẩu cũ");
                        return;
                    }

                    $.ajax({
                        url: '/Admin/AppUsers/ChangeServerPassWord',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            userId: $("#userId").val(),
                            current_password: $("#current_password").val(),
                            new_password: $("#new_password").val()

                        },
                        beforeSend: function() {
                            Loading('show');
                        },
                        complete: function() {
                            Loading('hiden');
                        },
                        success: function(response) {
                            if (response.success) {
                                tedu.notify('Cập nhật dữ liệu thành công', 'success');
                              
                            }
                            else {
                                tedu.notify('Cập nhật dữ liệu không thành công', 'error');
                            }
                        }
                    })
                }
            });
        })
    </script>
    }



