@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    input.error {
        border-color: #f00 !important;
    }

    label.error {
        clear: both;
        color: #f00;
        display: block;
        text-align: left;
        margin: unset;
        padding: unset;
        font-size: 13px;
        font-weight: unset !important;
        background: unset;
    }
    .form-group[class*='has-icon-'] .form-control-icon{
        transform: unset !important;
        top: 10% !important;
    }
</style>

<section class="ftco-section ftco-degree-bg" style="">
    <div data-v-77c39cb3="" class="container">
        <div class="breadcum">
                    <ul>
                        <li><a title="trang chủ" href="/">Trang chủ</a></li> / 
                        <li><a href="/lien-he-voi-chung-toi">Liên hệ với chúng tôi</a></li>
                    </ul>
                </div>
        <div data-v-77c39cb3="" class="row">
            <div data-v-77c39cb3="" class="col-lg-8">
                @*<h2 data-v-77c39cb3="" class="mb-3">@Model.title</h2>*@
                <div>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.738711613717!2d108.25104871416863!3d15.975015746200757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421088e365cc75%3A0x6648fdda14970b2c!2zNDcwIMSQxrDhu51uZyBUcuG6p24gxJDhuqFpIE5naMSpYSwgSG_DoCBI4bqjaSwgTmfFqSBIw6BuaCBTxqFuLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1653537904559!5m2!1sen!2s"
                            width="100%" height="700" frameborder="0" style="border:0" allowfullscreen=""></iframe>*@
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7894137689646!2d106.69792441368656!3d10.827421492286915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f4a62fce9b%3A0xc99902aa1e26ef02!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWxINuIExhbmc!5e0!3m2!1svi!2s!4v1661666653798!5m2!1svi!2s" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126040.52765139588!2d105.10477092835512!3d9.175524694154634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a1499e262d02a9%3A0xefe0b01bb69d636d!2zVHAuIEPDoCBNYXUsIEPDoCBNYXUsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1689307377287!5m2!1svi!2s" width="100%" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126040.52765139588!2d105.10477092835512!3d9.175524694154634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a1499e262d02a9%3A0xefe0b01bb69d636d!2zVHAuIEPDoCBNYXUsIEPDoCBNYXUsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1689307377287!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                </div>
            </div>

            <div class="col-lg-4  text-center heading-section" style="margin-top: 116px;">
                <h2 style="font-size: 31px; margin-bottom: 30px;">Liên hệ với chúng tôi</h2>
                <div class="row d-flex justify-content-center">

                    <form class="form form-vertical" action="#" method="#" id="contact">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Họ và tên" class="form-control" name="full_name" id="full_name"> <!---->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Số điện thoại" class="form-control " name="phone" id="phone"> <!---->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea rows="3" placeholder="Ghi chú" class="form-control" name="note" id="note"></textarea>
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary button-send">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div  id="CartsModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
   <div  role="document" class="modal-dialog">
      <form id="form-submit" action="#">
         <div  class="modal-content">
            <div  class="modal-header bg-primary">
               <h5  id="titleModal" class="modal-title white ">Bạn đã gửi liên hệ thành công</h5>
               <button  type="button" data-dismiss="modal" aria-label="Close" class="close"><span  aria-hidden="true">×</span></button>
            </div>
            <div  class="modal-body">
            </div>
            <div  class="modal-footer">
                @*<a href="/dang-nhap" class="btn btn-primary me-1 mb-1 btn-submit-format">OK</a>*@
                <a href="javascript:void(0)" class="btn btn-primary me-1 mb-1 btn-submit-format" data-dismiss="modal">OK</a>
                </div>
         </div>
      </form>
   </div>
</div>

@section Scripts{
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var self = this;
        $(document).ready(function() {
            ValidateUser();
        })

        function ValidateUser() {
             jQuery.validator.addMethod("headphone", function (value, element) {
                var vnf_regex = /((032|033|034|035|036|037|038|039|056|058|059|070|076|077|078|079|081|082|083|084|085|086|087|088|089|090|091|092|093|094|096|097|098|099)+([0-9]{7})\b)/g;
                return vnf_regex.test(value);
            });
            $("#contact").validate({
                rules:
                {
                    full_name: {
                        required: true,
                    },
                    phone: {
                        required: true,
                        headphone: true,
                        minlength: 10,
                        min: 0,
                        maxlength: 11,
                        number: isNaN
                    },
                    note: {
                        required: true
                    }
                },
                messages:
                {
                    full_name: {
                        required: "Số điện thoại không được để trống",
                        headphone: "Số điện thoại không hợp lệ"
                    },
                    phone: {
                        required: "Số điện thoại không được để trống",
                        minlength:"Số điện thoại từ 10 đến 11 kí tự",
                        maxlength: "Số điện thoại từ 10 đến 11 kí tự",
                        headphone:"Số điện thoại không hợp lệ",
                        number:"Số điện thoại không hợp lệ"
                    },
                    note: {
                        required: "Ghi chú không được để trống"
                    }
                },
                submitHandler: function(form) {
                    var UserModelView={
                        full_name: $("#full_name").val(),
                        phone_number: $("#phone").val(),
                        note: $("#note").val()
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Contract/Add",
                        data: { UserModelView: UserModelView },
                        beforeSend: function() {
                            // tedu.start//Loading();
                            Loading('show');
                        },
                        complete: function () {
                             Loading('hide');
                        },
                        success: function(response) {
                            if(response.success){
                                $("#CartsModal").modal("show");                                
                            }
                        },
                        error: function() {
                            Loading('hide');
                        }
                    });
                }
            });
        }
    </script>
}
