
@{
    ViewData["Title"] = "DieuKhoanSuDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .breadandfilter {
        display: inline-block;
        background: #f7f7f7;
        border: 1px solid #ececec;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 20px;
}

    ul.breadcrumbcus {
        float: left;
        margin: 0;
        padding: 6px 0 0;
        position: relative;
        z-index: 9;
    }
    .breadcrumbcus li {
    float: left;
    font-size: 14px;
    font-weight: 400;
}

    li {
        list-style: none;
    }
    .breadcrumbcus li:first-child a {
    padding-left: 10px;
}

    .breadcrumbcus li a {
        float: left;
        font-size: 14px;
        padding: 5px 5px 10px;
    }

    .breadcrumbcus span {
        float: left;
        line-height: 1;
    }
    .rowbr {
    padding-top: 5px;
}
.breadcrumbcus h2 {
    padding-top: 0;
    padding-left: 3px;
    font-size: 14px;
    color: #e77e24;
}
</style>
<section class="ftco-section" style="min-height: 70vh;">
    <div class="container">
        <div class="breadandfilter">
            <ul class="breadcrumbcus" itemscope="" itemtype="">
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="/" title="Trang chủ" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                    <meta itemprop="position" content="1" /><span class="rowbr">›</span>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="/dieu-khoan-su-dung" title="Giới thiệu" itemprop="item">
                        <h2><span itemprop="name">Điều khoản sử dụng</span></h2>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
            </ul>
        </div>
        <div class="clear10"></div>
        <div class="cssdetail">
            <h2 style="text-align: center;">
                <strong><span>ĐIỀU KHOẢN SỬ DỤNG</span></strong>
            </h2>
        </div>

        <h2 id="Bo-suu-tap-giay-the-thao-da-dang-tai-TuloShop" class="ftoc">1. Mục đích thu thập các thông tin cá nhân</h2>
        <p>Các thông tin được thu thập thông qua các hệ thống website sẽ giúp chúng tôi:</p>
        <ul>
            <li>1.	 Bảo vệ tài sản chung…</li>
            <li>2.	 không thực hiện các hoạt động trái pháp luật gây ảnh hưởng đến tập thể, xã hội…</li>
            <li>3.	 Không tụ tập gây ảnh hưởn đến mợi người xung quanh</li>
            <li>4.	 Bảo bảo chấp hành  đung các thỏa thuận đã đề ra trong hợp đồng</li>
            <li>5.	 …..</li>
        </ul>

    </div>
</section>



