@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using TECH.Areas.Admin.Models
@{
    var userString = Context.Session.GetString("UserInfor");
    var user = new UserMapModelView();
    int isLogin = 0;
    if (userString != null)
    {
        user = JsonConvert.DeserializeObject<UserMapModelView>(userString);
        if (user != null && user.Id > 0 && (user.RoleUser == 0 || user.RoleUser == 1))
        {
           isLogin = 1;
        }
        
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard">
    <meta name="author" content="TranTienDat">

    <title>Dashboard</title>

    <link rel="icon" href="https://hieutao.com/public/images/logo.jpg">
    <link rel="canonical" href="/admin">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin/css/bootstrap.css">
    @*<link rel="stylesheet" href="/lib/bootstrap/d/admin/css/bootstrap.css">*@

    <link rel="stylesheet" href="/public/admin/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/public/admin/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/public/admin/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/admin/css/app.css">
     <link href="~/public/customer/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    @*<link href="~/admin/dist/css/adminlte.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />*@
    @*<link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />*@
    @*<link href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/admin/plugins/chart.js/chart.min.css" rel="stylesheet" />
    <meta name="admin-id" content="2">
    <style>
        .bootbox .bootbox-close-button.close{
                float: right;
    border: unset;
    background: #fff;
        }
        .custom-button{
            margin-right:5px;
            display: inline-flex;
            align-items: center;
            /*padding: 10px;*/
            padding: 5px;
    font-size: 14px;
        }
            .custom-button .custom-icon{
                display: inline-flex;  
            }
            .icon-custom{
                        background:url(/image-common/laptop.png);
                                height: 20px;
        width: 20px;
        color: #fff !important;
        background-position: center  !important;
        background-size: contain !important;
        background-repeat: unset !important;
            margin-left: -3px  !important;
            }
            .table-responsive{
                margin-top: 40px;
            }
            .page-heading table {
                font-size: 15px;
            }
    </style>
    @RenderSection("Styles", required: false)
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                @*<div class="sidebar-header">
                    <div class="d-flex justify-content-center">
                        <div class="logo">
                            <a href="/admin" class="text-center">
                                <img src="/web/logo-admin.png" alt="Logo" srcset=""
                                     style=" height: 19vh; display: block; margin-left: auto; margin-right: auto">
                            </a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>*@


                <div class="card" style="padding-bottom:0px;margin-bottom:0px">

                    <div class="card-body" style="padding-bottom:0px;margin-bottom:0px">
                        <div class="d-flex align-items-center" style="justify-content: space-around">
                            <div class="ms-3 name">
                                <h5 class="font-bold text-center">@user?.Ten</h5>
                                <h6 class="text-muted mb-0 text-center">@user?.Email</h6>
                              @*  <h5 class="font-bold text-center">Lê Xuân Hải</h5>
                                <h6 class="text-muted mb-0 text-center">lexuanhai@gmail.com</h6>*@

                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Trang chủ</li>
                        <li class="sidebar-item sidebar-item-admin">
                            <a href="/admin" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Quản lý</li>
                        <li class="sidebar-item quan-ly-nhan-vien">
                            <a href="/admin/quan-ly-nhan-vien" class='sidebar-link'>
                                <i class="bi bi-person-circle"></i>
                                <span>Nhân viên</span>
                            </a>
                        </li>
                       @*  <li class="sidebar-item quan-ly-dich-vu">
                            <a href="/admin/quan-ly-the" class='sidebar-link'>
                                <i class="fa-solid fa-gears"></i>
                                <span>Quản Lý Thẻ</span>
                            </a>
                        </li> *@

                        <li class="sidebar-item quan-ly-khach-hang">
                            <a href="/admin/quan-ly-khach-hang" class='sidebar-link'>
                                <i class="fa-solid fa-users"></i>
                                <span>Sinh Viên</span>
                            </a>
                        </li>
                        @* <li class="sidebar-item quan-ly-dich-vu">
                            <a href="/admin/quan-ly-dich-vu" class='sidebar-link'>
                                <i class="fa-solid fa-gears"></i>
                                <span>Dịch Vụ</span>
                            </a>
                        </li>

                        <li class="sidebar-item quan-ly-nha">
                            <a href="/admin/quan-ly-nha" class='sidebar-link'>
                                <i class="fa-solid fa-house-chimney"></i>
                                <span>Nhà</span>
                            </a>
                        </li>

                        <li class="sidebar-item quan-ly-phong">
                            <a href="/admin/quan-ly-phong" class='sidebar-link'>                                
                                <i class="fa-solid fa-person-shelter"></i>
                                <span style="margin-left: 12px;">Phòng</span>
                            </a>
                        </li>
                        <li class="sidebar-item quan-ly-hop-dong">
                            <a href="/admin/quan-ly-hop-dong" class='sidebar-link'>
                                <i class="fa-solid fa-address-book"></i>
                                <span>Hợp đồng</span>
                            </a>
                        </li>
                        <li class="sidebar-item quan-ly-hoa-don-thanh-toan">
                            <a href="/admin/quan-ly-hoa-don-thanh-toan" class='sidebar-link'>
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                <span>Hóa đơn thanh toán</span>
                            </a>
                        </li> *@




                        <hr/>


                        <li class="sidebar-item thong-tin-ca-nhan">
                            <a href="/admin/thong-tin-ca-nhan" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>Hồ sơ cá nhân</span>
                            </a>
                        </li>
                         <li class="sidebar-item thong-tin-ca-nhan">
                            <a href="/admin/quan-ly-hop-dong" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>Quản lý hợp đồng</span>
                            </a>
                        </li>
                            <li class="sidebar-item thong-tin-ca-nhan">
                            <a href="/admin/quan-ly-phong" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>Quản lý phòng</span>
                            </a>
                        </li>
   </li>
                            <li class="sidebar-item thong-tin-ca-nhan">
                            <a href="/quan-ly-dich-vu" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>Quản lý dịch vụ</span>
                            </a>
                        </li>
                        <li class="sidebar-item doi-mat-khau">
                            <a href="/admin/doi-mat-khau" class='sidebar-link'>
                                <i class="bi bi-lock"></i>
                                <span>Đổi mật khẩu</span>
                            </a>
                        </li>
                         <li class="sidebar-item doi-mat-khau">
                            <a href="/admin/quan-ly-nha" class='sidebar-link'>
                                <i class="bi bi-lock"></i>
                                <span>Quản lý khu Nhà</span>
                            </a>
                        </li>
 <li class="sidebar-item doi-mat-khau">
                            <a href="/admin/quan-ly-hoa-don-thanh-toan" class='sidebar-link'>
                                <i class="bi bi-lock"></i>
                                <span>Quản lý hóa đơn</span>
                            </a>
                        </li>
                          <li class="sidebar-item doi-mat-khau">
                            <a href="/admin/tao-moi-phong" class='sidebar-link'>
                                <i class="bi bi-lock"></i>
                                <span>Tạo phòng mới</span>
                            </a>
                        </li>
                          <li class="sidebar-item doi-mat-khau">
                            <a href="/admin/quan-ly-bao-cao" class='sidebar-link'>
                                <i class="bi bi-lock"></i>
                                <span>Báo cáo</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/dang-xuat" class='sidebar-link'>
                                <i class="bi bi-box-arrow-in-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            @RenderBody()
           

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2026 &copy; Apple IOS</p>
                    </div>
                    <div class="float-end">
                    </div>
                </div>
            </footer>
            @*<script src="/public/admin/js/jquery-3.4.1.js"></script>*@
            @*<script src="/public/js/app.js"></script>*@
        </div>
    </div>
    @*<script src="~/lib/datetimepicker-master/jquery.js"></script>*@
    <script src="/public/admin/js/jquery-3.4.1.js"></script>
    <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/public/admin/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    @*<script src="/public/admin/js/bootstrap.min.js"></script>*@
    <script src="/public/customer/js/bootstrap.min.js"></script>
    <script src="/public/admin/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/lib/bootbox/bootbox.all.js"></script>
    <script src="/admin/plugins/notify.min.js"></script>
     <script src="/public/admin/js/main.js"></script>
     <script src="~/share/tedu.js"></script>
     <script src="~/js/shared/shared.js"></script>
     
    <script src="~/admin/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/public/customer/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @*<script src="~/lib/datetimepicker-master/jquery.js"></script>*@
    @*<script src="~/lib/datetimepicker-master/jquery.datetimepicker.js"></script>*@
    @*<script src="~/admin/plugins/select2/js/select2.min.js"></script>*@
    @*<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
<script src="~/admin/plugins/chart.js/chart.min.js"></script>
     <script type="text/javascript">
    $(document).ready(function () {
        if (@isLogin != 1) {
            window.location.replace("/");
        }
        var urlWindow = window.location.pathname;
        if(urlWindow.indexOf("admin") != -1){
            var split = urlWindow.split('admin');
            if(split != null && split.length > 0){
                  var nameCate = split[split.length - 1].replace("/","");
                  if(nameCate != ""){
                      if(nameCate == "tao-moi-san-pham"){
                          $(".quan-ly-san-pham").addClass("active");
                          $(".tao-moi-san-pham").addClass("active");                          
                      }
                      else if(nameCate == "tao-moi-bai-viet"){
                           $(".quan-ly-bai-viet").addClass("active");
                          $(".tao-moi-bai-viet").addClass("active");  
                      }
                      else{
                          $("." + nameCate).addClass("active");
                      }
                      
                  }
                  else{
                        $(".sidebar-item-admin").addClass("active");
                  }
                  
            }
            else{
                $(".sidebar-item-admin").addClass("active");
            }
          
        }
    })
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
