@{
    ViewData["Title"] = "Quản lý thẻ thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<style>
    .fisrt-image-product {
        width: 77px;
        height: 55px;
        border-radius: 4px;
    }
</style>*@
 <style type="text/css">
    input.error {
        border-color: #f00 !important;
    }

    label.error {
        clear: both;
        color: #f00;
        display: block;
        text-align: left;
        margin: unset;
        padding: unset;
        font-size: 13px;
        font-weight: unset !important;
        background: unset;
    }
    .form-group[class*='has-icon-'] .form-control-icon{
        transform: unset !important;
        top: 10% !important;
    }
        .form-group[class*='has-icon-'].has-icon-left .form-control {
        padding-left: 1.0rem !important;
    }
      .modal-footer{
            border-top: unset !important;
      }
  /*  .form-group[class*='has-icon-'].has-icon-left .form-control{
        padding-left: unset;
    }*/
</style>
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Quản lý dich vụ</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Quản lý dich vụ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div  class="card">            
            <div  class="card-header">
                <div  class="row">
                    <div  class="col-md-6">Danh sách các dịch vụ</div>
                    <div  class="col-md-6">
                        <button type="button"  data-toggle="modal" data-target="#userModal" class="btn btn-primary btn-right btn-addorupdate" style="float:right">
                            <span style="display: flex;  align-items: center;"><i class="bi bi-plus-circle"></i> <span style="margin-left: 6px; padding-top: 2px;"> Tạo mới</span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div  class="card-body">
                <div  class="row">
                    <div  class="col-md-3">
                        <div  class="between:flex bottom:margin-3 ml-2">
                            <div  class="center:flex-items">
                                <span  class="right:marign-1">Hiển thị</span>                            
                                <select id="ddlShowPage" style=" width: 33%; display: inline;" class="select form-select">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                </select>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-5"><input  placeholder="Tìm kiếm..." type="text" class="form-control form-search"></div>
                </div>
                <div  class="table-responsive">
                    <table  id="table1" class="table table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã thẻ</th>
                                <th>Tên sinh viên</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kế thúc</th>       
                                <th>Trạng thái</th>
                                <th style="text-align: center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="tblData">                            
                        </tbody>
                    </table>
                </div>
                <nav  aria-label="...">                  

                      <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                                <ul id="paginationUL" class="float-right" style="justify-content: center"></ul>
                                            </div>
                </nav>
            </div>          
        </div>
    </section>
</div>

<partial name="AddOrUpdate" />

@section Scripts{
        <script src="~/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/thekitucxa/thekitucxa.js?v=@DateTime.Now.Ticks"></script>
    }



